@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Knewave&family=Lilita+One&family=Luxurious+Roman&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --cyan:#B2FFFF;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
/*Setting the overall scrollbar width to 1.4rem.*/
html::-webkit-scrollbar{
    width:1.4rem;
}
/*sets the background area*/
html::-webkit-scrollbar-track{
    background: #222;
}
html::-webkit-scrollbar-thumb{
    background: var(--cyan);
}
/*fixing texts*/
*{
    font-family: "Nunito", sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    /*--------------*/
    transition: all 0.5s linear;
}
*::selection{
    background: var(--cyan);
    color: #333;
}
body{
    background: #111;
    overflow: hidden;
    padding-left: 35rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background: #1a1a1a;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    background-size: cover;
    margin-bottom: 1rem;
    /*--------------*/
    /*border: 1rem solid var(--cyan);*/
}
header .user .name{
    font-size: 3.5rem;
    color:#fff;
}
header .user .post{
    font-size: 2rem;
    color:#eee;
}
header .navBar{
    width: 100%;
}
header .navBar ul{
    list-style: none;
    /*--------------*/
    padding: 0 3rem;
}
header .navBar ul li a{
    display: block;
    /*!*padding: 1rem;*!----------------*/
    margin: 1.5rem 0;
    background: #333;
    color:#fff;
    font-size: 2rem;
    border-radius: 2rem;
}
header .navBar ul li a:hover{
    background: var(--cyan);
}
/*hamburger*/
#menu{
    position: fixed;
    top: 2rem;
    right:2rem;
    background: #333;
    color: #fff;
    cursor:pointer;
    display: none;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
}
/*-----------------------home----------------------------*/
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}
.home h3{
    font-size: 2.5rem;
    color: #fff;
}
.home h1{
    font-size: 5rem;
    color: #fff;
}








/*media queries*/
@media  (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media  (max-width: 991px){
    header{
        left:-120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left:0%;
    }
}
@media  (max-width: 768px){
    html{
        font-size: 50%;
    }
}
@media  (max-width: 400px){
    header{
        width: 100vw;
    }
}